<div class="h-full flex flex-col gap-6 items-center py-3">
    <nav-item 
        name="ZIONCHECK"
        [isNameDisplayed]="true"
        icon="site-logo"
        link="url"
    />
    <nav-item 
        name="CLASSIC"
        [isNameDisplayed]="true"
        icon="play-classic"
        link="url"
    />
    <nav-item 
        name="CUSTOM"
        [isNameDisplayed]="true"
        icon="play-custom"
        link="url"
    />
    <nav-item 
        name="LEARN"
        [isNameDisplayed]="true"
        icon="learn"
        link="url"
    />
    <div class="flex-grow"></div>
    <nav-tray />
</div>